@charset "utf-8";

html{
  height: 2000px;
}

body{
  height: 100%;
  font-family: "hina-mincho", sans-serif;
  font-style: normal;
  overflow-x: hidden;
  background-image: url("img/KAMI.jpg");
  justify-content: center;
  text-align: center;
}

.background{
  margin: -10px;
  height: 2000px;
  background-color: rgba(118,6,6,0.8);
}

h1{
  overflow-x: hidden;
  padding-top: 50px;
  margin: 0;
}

.title-1{
  text-align: center;
  color: #FFEFD7;
  transform: scaleX(2);
  letter-spacing: 6px;
  font-size: 100%;
  text-align: center;
}

.line-1{
  margin-top: 0;
  margin-left: calc(50% - 100px);
  height: 2px;
  background-color: #FFEFD7;
  width: 100%;
  text-align: center;
}

.line-2{
   margin-top: 5px;
   height: 2px;
   margin-left: calc(50% - 70px);
   width: 50px;
   background-color: #FFEFD7;
   text-align: center;
}

.content{
  max-width: 700px;
  margin: 100px auto 0;
}

.information{
  margin-top: 100px;
  margin-bottom: 500px;
  text-align: center;
}

.adress{
color: #FFEFD7;
text-align: center;
}

.tel{
  color: #FFEFD7;
  text-align: center;
}